<h1 class="text-center header">Reset Password</h1>
<div class="col-lg-8 mx-auto">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-9 login-form">
          <%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
           
            <%= hidden_field_tag :email, @user.email %>

            <div class='form-group'>
              <%= f.label :password %>
              <%= f.password_field :password, class: 'form-control', required: true %>
            </div>
            <div class='form-group'>
              <%= f.label :password_confirm, "Confirmation" %>
              <%= f.password_field :password_confirm, class: 'form-control', required: true %>
            </div>  
            <%= f.submit "Update password", class: "btn btn-outline-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
