<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class='navbar-header'>
			<%= link_to '3Word Address', welcome_index_path, class: 'navbar-brand' , id: 'logo' %>
	</div>
 	<ul class="navbar-nav ml-auto">
	<% if session[:user_id]%>
		<li class="nav-item">
			<%= link_to 'Favorite Addresses', addresses_path, method: :get, class: 'nav-link' %>
		</li>
		<li class="nav-item">
			<%= link_to 'Edit Profile', profile_path, method: :get, class: 'nav-link' %>
		</li>
		<li class="nav-item">
			<%= link_to 'Contact Us', new_message_path, method: :get, class: 'nav-link' %>
		</li>
	  	<li class="nav-item">
			<%= link_to 'Logout', logout_path, method: :delete, class: 'nav-link' %>
		</li>
	<% else %>
		<li class="nav-item">
			<%= link_to 'Log In', login_path, class: 'nav-link' %>
		</li>
		<li>
			<%= link_to 'Sign Up', signup_path,  class: 'nav-link' %>		
		</li>
		<li class="nav-item">
			<%= link_to 'Contact Us', new_message_path, method: :get, class: 'nav-link' %>
		</li>
	<% end %>
</nav> 
